<div id="header">
    <h2>Main Dash</h2>
</div>
<div id="content">Top Clients
    <div class="demo-container">
        <div id="placeholderA" class="demo-placeholder"></div>
        <div id="placeholderB" class="demo-placeholder"></div>
        <table id="topsales" class="compact" width="auto"></table>
        
    </div>
</div>