<div id="header">
    <h2>Main Dash</h2>
</div>
<div id="content">Top Clients
    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
        <div id="placeholderA" class="demo-placeholder"></div>
    </div>
</div>