<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        SINF Dashboard 360
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Clients/List">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clients
                            </a>
                        </li>

                        <li>
                            <a href="/Products/List">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Products
                            </a>
                        </li>

                        <li>
                            <a href="/Sales">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Sales
                            </a>
                        </li>

                        <li>
                            <a href="/finances">
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Finances
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
