@model project.Lib_Primavera.Model.Cliente

<h2>Info</h2>

<table style="width:100%">
    <tr>
        <td>@Model.CodCliente</td>
        <td>@Model.NomeCliente</td>
        <td>@Model.Morada</td>
    </tr>
</table>
